body {
    background: rgb(181, 218, 243);}

.container {
    margin: 0 auto;
    max-width: 60%;
text-align: center;}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    margin-top: 30px;}

form {
    padding: 30px; 
    display: flex; 
    border-radius: 15px;
    width: 80%;
    background-color: rgb(215, 232, 243);}
    
.user-instructions {
    padding: 16px;
    border: none;
    width: 70%;
    font-size: 16px;
    border-radius: 40px;
    line-height: 20px;
    margin: auto;
}

.submit-button {
    border-radius: 20px;
    border: none;
    padding: 20px;
    margin: auto;
    background: rgb(181, 218, 243);
}

.poem {font-size: 17px;
padding: 15px;
max-width: 60%;
text-align: center;}

footer {
    margin: 30px;
    text-align: center;

}